name: Check that GitHub Pages Builds

permissions: {}

on:
  push:
jobs:
  build:
    name: Build Docusaurus
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: 'docusaurus/package-lock.json'
      - name: Install dependencies
        run: cd docusaurus && npm ci
      - name: Build website
        run: cd docusaurus && npm run build
